$blue: #0a66c2;
$dark-blue: #004182;
@mixin blue-button{
    background-color: $blue;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;

    &:hover{
        background-color: $dark-blue;
    }
}


@mixin icon{
    padding: 0.25rem;
    box-sizing: content-box;
    width: 1.5rem;
    position: absolute;
    cursor: pointer;
    border-radius: 100%;

    &:hover{
        background-color: lightgray;
    }
}


@mixin rounded{
    border-radius: 1rem;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}

@mixin gray-text{
    color: lightslategray;
}

@mixin center{
    display: flex;
    justify-content: center;
}

@mixin white-box{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: white;
    border-radius: 1rem;
}


