@use "mixin" as m;

.connect{
    @include m.flex-row;
    
    align-items: center;

    > * + * {
        padding: 1rem;
    }

    
    .connect-pic{
        
        img{
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            border-radius: 100%;
        }
    }

    .connect-desc{
        width: 50%;
    }

    .connect-button{
        @include m.flex-row;


        *{
            margin-left: 0.5rem;
            padding: 0.5rem;
            cursor: pointer;
        }

        .ignore{
            @include m.gray-text;
        }


        .accept{
            color: slateblue;
            font-weight: 700;
        }
    }
}

