
    @use "mixin" as m;

.doc{
    @include m.white-box;

    background-color: white;
    box-sizing: border-box;
    padding: 1rem;
    width: 30rem;
    height: 5rem;
    border-radius: 1rem;

    .up{        
        display: flex;
        align-items: center;
        img{
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            border-radius: 100%;
        }

        .img-container{
            flex-grow: 1;
        }
        
        .text{
            color: gray;
            flex-grow: 25;
            border: 1px solid lightgray;
            border-radius: 50rem;
            padding: 1rem;
            cursor: pointer;
            
            &:hover{
                background-color: rgb(212, 212, 212);
            }
        }
    }
}