@use 'mixin' as m;

.pop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 15;
    
    .white-box{
        @include m.white-box;
        position: relative;
        background-color: white;
        border: 1px solid rgb(223, 220, 220);
        width: 30rem;
        min-height: 20rem;
        height: fit-content;
        padding: 2rem;
        border-radius: 0.25rem;

        hr{
            margin: 1rem 0px;
        }

        .x-icon{
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 25px;
            stroke: lightgray;
            cursor: pointer;
        }

        .cred{
            display: flex;
            align-items: center;
            img{
                width: 3rem;
                height: 3rem;
                object-fit: cover;
                border-radius: 100%;
            }
    
            .img-container{
                flex-grow: 1;
            }
            
            .name{
                color: black;
                flex-grow: 25;
                
            }

        }
        textarea{
            margin-top: 1rem;
            width: 100%;
            border: 0;
            padding:1rem;
        }

        .photo-icon{
            position: absolute;
            width: 2rem;
            color: lightslategray;
            pointer-events: none;
            cursor: pointer;

        }
        input{
            left: 0;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            opacity: 0;
        }

        .icons{
            display: flex;

            > * + * {
                margin-left:0.5rem;
            }
        }

        .create-post{
            all: unset;
            padding: 0.5rem 1rem;
            color: white;
            background-color: lightslategray;
            @include m.rounded;
            cursor: pointer;
            margin-top: 0.5rem;
        }

        .preview{
            position: relative;
            width: fit-content;

            video{
                max-width: 26rem;
                max-height: 25rem;
            }

            img{
                max-width: 26rem;
                max-height: 25rem;
                border: 1px solid slategray;
            }
            .x-icon{
                position: absolute;
                width: 2rem;
            }
        }
    }
}


