.imageNav{
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .icon{
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }
    align-items: center;
    justify-content: center;

    width: 6rem;

    color:#666666;

    
}