@use './mixin' as m;

.con-request{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 0rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;

    .name{
        flex-grow: 2;
        padding: 2rem;
    }

    img{
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
    }

    button{
        all:unset;
        color: slateblue;
        cursor: pointer;
        font-weight:600;
        padding: 0.5rem 1rem;
    }

    .connected{
        color: lightslategray;
        border: 1px solid gray;
        border-radius: 50rem;
    }
}

.search-page{
    background-color: #f3f2ef;
    height: fit-content;
    min-height: 100vh;
    padding: 6rem 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .search-page-white-box{
        @include m.white_box;

        width: 30rem;
        display: flex;
        background-color: white;
        min-height: 20rem;
        height: fit-content;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .post-search{
        > * {
            margin-top: 1rem;
        }
    }

    .search-filter{
        @include m.white-box;
        width: 15rem;
        height: 7rem;
        padding: 1rem 2rem;
        position: fixed;
        left: 10rem;
        top: 10rem;

        .search-checkbox{
            display: flex;
            flex-direction: column;

            *{
                display: flex;
                align-items: center;
                margin: 0.2rem 0;
            }

            input{
                transform: scale(1.25);
                margin-right: 0.5rem;
            }
        }
    }
}